<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darkseid - Products</title>


    <!------Custom css---------->
    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>

    <div class="grid-container">


        <!------------ Header ------------->
        <header class="header">

            <div class="brand">
                <button onclick="openMenu()">
                    &#9776;
                </button>
                <a href="#">Dark<span>Sied</span></a>
            </div>

            <nav class="header-links">
                <a href="#">Panier</a>
                <a href="#">Connexion</a>
            </nav>

        </header>
        <!------X----- Header ------X------>





        <!------------ Side bar ------------->
        <aside class="sidebar open">
            <h3>Liste des categories</h3>
            <button onclick="closeMenu()" class="close-menu-button">x</button>
            <ul>
                <li>
                    <a href="#">Informatique</a>
                </li>
                <li>
                    <a href="#">Vestimentaire</a>
                </li>
            </ul>
        </aside>
        <!-----X------ Side bar --------X---->




        <!------------ MAIN SECTION ------------->
        <main class="main">


            <!------------ Product List ------------->

            <div class="content">
                <ul class="products">


                    <li>
                        <div class="product-item">
                            <img class="product-image" src="./images/products/product1.jpeg" alt="product1">
                            <div class="product-name">
                                <a href="#">Laptop HP 2000</a>
                            </div>
                            <div class="product-brand">Ordinateur</div>
                            <div class="product-price">345,000 FCFA</div>
                            <div class="product-rating">4.5 Stars (10 reviews)</div>
                        </div>
                    </li>

                    <li>
                        <div class="product-item">
                            <img class="product-image" src="./images/products/product2.jpeg" alt="product2">
                            <div class="product-name">
                                <a href="#">Laptop HP 2000</a>
                            </div>
                            <div class="product-brand">Ordinateur</div>
                            <div class="product-price">345,000 FCFA</div>
                            <div class="product-rating">4.5 Stars (10 reviews)</div>
                        </div>
                    </li>

                    <li>
                        <div class="product-item">
                            <img class="product-image" src="./images/products/product5.jpeg" alt="product5">
                            <div class="product-name">
                                <a href="#">Laptop HP 2000</a>
                            </div>
                            <div class="product-brand">Ordinateur</div>
                            <div class="product-price">345,000 FCFA</div>
                            <div class="product-rating">4.5 Stars (10 reviews)</div>
                        </div>
                    </li>

                    <li>
                        <div class="product-item">
                            <img class="product-image" src="./images/products/product4.jpeg" alt="product4">
                            <div class="product-name">
                                <a href="#">Laptop HP 2000</a>
                            </div>
                            <div class="product-brand">Ordinateur</div>
                            <div class="product-price">345,000 FCFA</div>
                            <div class="product-rating">4.5 Stars (10 reviews)</div>
                        </div>
                    </li>

                    <li>
                        <div class="product-item">
                            <img class="product-image" src="./images/products/product3.jpeg" alt="product3">
                            <div class="product-name">
                                <a href="#">Laptop HP 2000</a>
                            </div>
                            <div class="product-brand">Ordinateur</div>
                            <div class="product-price">345,000 FCFA</div>
                            <div class="product-rating">4.5 Stars (10 reviews)</div>
                        </div>
                    </li>







                    <li>
                        <div class="product-item">
                            <img class="product-image" src="./images/products/product1.jpeg" alt="product1">
                            <div class="product-name">
                                <a href="#">Laptop HP 2000</a>
                            </div>
                            <div class="product-brand">Ordinateur</div>
                            <div class="product-price">345,000 FCFA</div>
                            <div class="product-rating">4.5 Stars (10 reviews)</div>
                        </div>
                    </li>

                    <li>
                        <div class="product-item">
                            <img class="product-image" src="./images/products/product2.jpeg" alt="product2">
                            <div class="product-name">
                                <a href="#">Laptop HP 2000</a>
                            </div>
                            <div class="product-brand">Ordinateur</div>
                            <div class="product-price">345,000 FCFA</div>
                            <div class="product-rating">4.5 Stars (10 reviews)</div>
                        </div>
                    </li>

                    <li>
                        <div class="product-item">
                            <img class="product-image" src="./images/products/product5.jpeg" alt="product5">
                            <div class="product-name">
                                <a href="#">Laptop HP 2000</a>
                            </div>
                            <div class="product-brand">Ordinateur</div>
                            <div class="product-price">345,000 FCFA</div>
                            <div class="product-rating">4.5 Stars (10 reviews)</div>
                        </div>
                    </li>

                    <li>
                        <div class="product-item">
                            <img class="product-image" src="./images/products/product4.jpeg" alt="product4">
                            <div class="product-name">
                                <a href="#">Laptop HP 2000</a>
                            </div>
                            <div class="product-brand">Ordinateur</div>
                            <div class="product-price">345,000 FCFA</div>
                            <div class="product-rating">4.5 Stars (10 reviews)</div>
                        </div>
                    </li>

                    <li>
                        <div class="product-item">
                            <img class="product-image" src="./images/products/product3.jpeg" alt="product3">
                            <div class="product-name">
                                <a href="#">Laptop HP 2000</a>
                            </div>
                            <div class="product-brand">Ordinateur</div>
                            <div class="product-price">345,000 FCFA</div>
                            <div class="product-rating">4.5 Stars (10 reviews)</div>
                        </div>
                    </li>


                </ul>
            </div>

            <!------X----- Product List ------X------>


        </main>
        <!------X----- MAIN SECTION ------X------>



        <!------------ Footer ------------>
        <footer class="footer">
            Tous droits réservées &copy; 2020
        </footer>
        <!-----X------ Footer ------X----->

    </div>


    <!------------ Custom JS ---------------->
    <script src="./js/main.js"></script>
</body>

</html>